{% extends 'allianceauth/base-bs5.html' %}

{% load i18n %}

{% block page_title %}{{ app_title|striptags }} - {{ app_title }}{% endblock %}

{% block header_nav_brand %}
    <a class="nav-link text-white link-light link-underline link-underline-opacity-0" href="{% url 'blueprints:index' %}">
        {{ app_title }}
    </a>
{% endblock %}

{% block header_nav_collapse_right %}
    {% if perms.blueprints.add_personal_blueprint_owner %}
        <a class="nav-link py-0" href="{% url 'blueprints:add_personal_blueprint_owner' %}">
            <span class="btn btn-success">{% translate "Add My Blueprints" %}</span>
        </a>
    {% endif %}
    {% if perms.blueprints.add_corporate_blueprint_owner %}
        <a class="nav-link py-0" href="{% url 'blueprints:add_corporate_blueprint_owner' %}">
        <span class="btn btn-success">{% translate "Add Corporation Blueprints" %}</span>
        </a>
    {% endif %}
{% endblock header_nav_collapse_right %}

{% block header_nav_user_character_control %}
    {% comment %}
        Leave empty to remove user control nav items for this app
    {% endcomment %}
{% endblock %}

{% block content %}
    {% include "framework/header/page-header.html" with title=app_title %}

    {% block details %}{% endblock %}
{% endblock %}
