{% extends 'allianceauth/base-bs5.html' %}

{% load i18n %}

{% block page_title %}{{ page_title|striptags }} - {% translate "Blueprint Library" %}{% endblock %}

{% block header_nav_brand %}
    <a class="nav-link text-white link-light link-underline link-underline-opacity-0" href="{% url 'blueprints:index' %}">{% translate "Blueprints" %}</a>
{% endblock %}

{% block header_nav_collapse_left %}
    {% include 'blueprints/partials/menu/navigation.html' %}
{% endblock header_nav_collapse_left %}

{% block header_nav_collapse_right %}
    {% include 'blueprints/partials/menu/administration.html' %}
{% endblock header_nav_collapse_right %}

{% block header_nav_user_character_control %}
    {% comment %}
        Leave empty to remove user control nav items for this app
    {% endcomment %}
{% endblock %}

{% block content %}
    {% include "framework/header/page-header.html" with title=page_title %}

    {% block details %}{% endblock %}
{% endblock %}
