{% load i18n %}
{% load humanize %}

<div class="tab-pane" id="tab-user-requests" role="tabpanel">
    <div class="table-responsive">
        <table id="table-user-requests" style="width: 100%" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{% translate "Type" %}</th>
                    <th>{% translate "Runs" %}</th>
                    <th>{% translate "Requested From" %}</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
